.edit-user-page {
    background-color: #fff3f3;
    min-height: 91vh;
    padding: 30px;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    max-width: 1500px;
    margin: auto;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.back-link {
    text-decoration: none;
    color: #dc3545;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: bold;
}

.title {
    color: #dc3545;
    margin-bottom: 25px;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-group i {
    margin-right: 5px;
    color: #dc3545;
}


.submit-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 12px 25px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
}

.submit-btn:hover {
    background-color: #c82333;
}

.error-text {
    color: red;
    margin-bottom: 15px;
}

.user-avatar {
    border-radius: 8px;
    margin-top: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
